@import "tailwindcss";

@import "./theme.css";
@import "./components.css";

@layer base {
  ::-webkit-scrollbar {
    width: calc(var(--spacing) * 4);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border: var(--spacing) solid var(--color-background);
    border-radius: calc(var(--spacing) * 2);
  }

  html,
  body {
    @apply bg-background text-text font-default flex min-h-screen overflow-hidden;
  }

  button {
    @apply cursor-pointer disabled:cursor-not-allowed;
  }

  img {
    @apply select-none;
  }

  ::selection {
    @apply bg-primary text-primary-contrast;
  }

  .selection-contrast::selection,
  .selection-contrast *::selection {
    @apply bg-background text-text;
  }
}
